<!-- <div class="ekart--product--container">
  <img src="../../assets/images/iphoneX.jpg" alt="iPhone X" />
  <p>Name: iPhone X</p>
  <p>Price: $999</p>
  <p>Color: Matte Black</p>
  <p>Dicounted Price: $798</p>
  <button class="btn btn-primary">Buy Now</button>
</div>
<hr /> -->
<div class="ekart--product--container">
  <!-- <img [src]="product.image" alt="iPhone 14" />
  <p>Name: {{ product.name }}</p>
  <p>Price: ${{ product.price }}</p>
  <p>Color: {{ product.color }}</p>
  <p>Dicounted Price: ${{ getDiscountedPrice() }}</p>
  <p>
    {{
      product.inStock <= 0
        ? "Product Out of Stock"
        : "Number of products: " + product.inStock
    }}
  </p>
  <button [disabled]="disable" class="btn btn-primary" (click)="incrementCartValue()">+</button>
  <span>{{ addToCart }}</span>
  <button [disabled]="disable" class="btn btn-primary" (click)="decrementCartValue()">-</button>
  <br>
  <br>
  <button [hidden]="hidden" class="btn btn-primary">Buy Now</button>
  <br />
  <br />
  <input type="text" (input)="onNameChange($event)" />
  <p>Name = {{ name }}</p> -->
  <app-search></app-search>
</div>
