<!-- *ngIf and *ngFor conditional directive -->

<app-filter
  [all]="totalProducts"
  [inStock]="totalProductsInStock"
  [outOfStock]="totalProductsOutOfStock"
  (selectedFilterRadioButtonChanged)="onFilterChanged($event)"
></app-filter>
<div class="ekart--product--container">
  <div *ngFor="let product of products">
    <!-- *ngIf="
        selectedFilterRadioButton === 'all' ||
        product.is_in_inventory.toString() === selectedFilterRadioButton
      " -->
    <app-product
      [product]="product"
      *ngIf="
        searchText === '' || product.name.toLowerCase().includes(searchText)
      "
    ></app-product>
  </div>
</div>
